.container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.ribbon-area {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
}

.refresh-button {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(60, 62, 68);
    color: white;
    font-weight: bold;
    width: 100%;
    flex-basis: 7%;
    cursor: pointer;
}

.refresh-button:hover {
    background: grey;
}

.refresh-button:active {
    background: darkgrey;
}
