.modal {
    background-color: rgb(60, 62, 68);
    width: 400px;
    height: 400px;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    z-index: 11;
    cursor: initial;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.character-name {
    font-weight: bold;
    font-size: 25px;
}

.grey-text {
    color: rgb(158, 158, 158);
}

.floating-image {
    position: absolute;
    height: 250px;
    width: 250px;
    top: -80%;
    border-radius: 50%;
}
