.drop-area {
    height: 12rem;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #272b33;
    border: 2px solid grey;
}

.ribbon-container {
    display: flex;
    gap: 0.4rem;
}

.ribbon-character {
    height: 11.2rem;
    width: 9rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(60, 62, 68);
    color: white;
    display: flex;
    flex-direction: column;
}

.ribbon-image {
    max-height: 9rem;
    max-width: 9rem;
    height: auto;
    width: auto;
    border-radius: 5px 5px 0 0;
}

.ribbon-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5rem;
    padding: 0.5rem 0.1rem 0 0.1rem;
}

.create-button {
    height: 11.2rem;
    width: 9rem;
    font-size: 60px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid grey;
    color: white;
}

.create-button:focus {
    outline: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(62, 74, 89, 0.9);
    backdrop-filter: blur(10px);
    min-width: 1100px;
    cursor: pointer;
}

.drop-overlay {
    background-color: darkgreen;
    width: 84.3vw;
    height: 11.2rem;
    opacity: 0.5;
    position: absolute;
    z-index: 10;
}
